@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url('./background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}


.buttonMuscle:hover {
  filter: brightness(0.9);
  transition: 0.2s;
}



.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}