@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F8F8F2;
}

.buttonMuscle:hover {
  filter: brightness(0.9);
  transition: 0.2s;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}